<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <h2>Cadastra  usuario</h2>
  <div *ngIf="message">{{ message }}</div>
    <div>
      <label for="nome">Nome:</label>
      <input id="nome" formControlName="nome">
      <div *ngIf="registerForm.get('nome')?.invalid && registerForm.get('nome')?.touched">
        Nome é obrigatório e deve ter pelo menos 3 caracteres.
      </div>
    </div>
  
    <div>
      <label for="email">Email:</label>
      <input id="email" formControlName="email">
      <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
        Por favor, insira um email válido.
      </div>
    </div>
  
    <div>
      <label for="senha">Senha:</label>
      <input id="senha" type="password" formControlName="senha">
      <div *ngIf="registerForm.get('senha')?.invalid && registerForm.get('senha')?.touched">
        Senha é obrigatória e deve ter pelo menos 6 caracteres.
      </div>
    </div>
  
    <div>
      <label for="c_senha">Confirmar Senha:</label>
      <input id="c_senha" type="password" formControlName="c_senha">
      <div *ngIf="registerForm.hasError('mismatch') && registerForm.get('c_senha')?.touched">
        As senhas não correspondem.
      </div>
    </div>
  
    <div>
      <label for="telefone">Telefone:</label>
      <input id="telefone" formControlName="telefone">
      <div *ngIf="registerForm.get('telefone')?.invalid && registerForm.get('telefone')?.touched">
        Telefone é obrigatório e deve ter 10 ou 11 dígitos.
      </div>
    </div>
  
    <div>
      <label for="endereco">Endereço:</label>
      <input id="endereco" formControlName="endereco">
      <div *ngIf="registerForm.get('endereco')?.invalid && registerForm.get('endereco')?.touched">
        Endereço é obrigatório.
      </div>
    </div>
  
    <button type="submit">Registrar</button>

      <p><a routerLink="/login">Se connecter</a></p>
  </form>
  
 